<h3>New House</h3>
<%= form_for @house do |f| %>
  <%= f.label :img_url %>
  <%= f.text_field :img_url %>
<p></p>
  <%= f.label :sigil %>
  <%= f.text_field :sigil %>
<p></p>
  <%= f.label :words %>
  <%= f.text_field :words %>
<p></p>
  <%= f.label :titles %>
  <%= f.text_field :titles %>
<p></p>
  <%= f.label :seat %>
  <%= f.text_field :seat %>
<p></p>
  <%= f.label :religion %>
  <%= f.text_field :religion %>
<p></p>
  <%= f.label :lord %>
  <%= f.text_field :lord %>
<p></p>
  <%= f.label :heir %>
  <%= f.text_field :heir %>
<p></p>
  <%= f.label :allegiance %>
  <%= f.text_field :allegiance %>
<p></p>
  <%= f.label :age %>
  <%= f.text_field :age %>
<p></p>
  <%= f.label :founder %>
  <%= f.text_field :founder %>
<p></p>
  <%= f.label :ancestral_weapon %>
  <%= f.text_field :ancestral_weapon %>
<p></p>
  <%= f.submit %>
<% end %>
